body{
    background-image: url("../Media/Imagenes/fons.png");
    background-attachment: fixed ;
}
h1, h2, h3{
    padding: 40px;
    color: white !important;
}
.container{
    display: flex;
    justify-content: center;
}
.skin{
    padding: 20px;
}
img{
    width: 400px;
    border-radius: 15px;
}