.main {

    display: flex;
}

.productes {

    margin: 50px;
    width: 70vw;
}

img {
    width: 200px;
}

h1,
h2,
h3 {
    padding: 5px;

}

.tenda {

    background-color: white;
    width: 30vw;

}