body{
    background-image: url("../Media/Imagenes/fons.png");
    background-attachment: fixed ;
}
h1, h2, h3{
    padding: 40px;
    color: white !important;
}
.container{
    display: flex;
    justify-content: center;
}
.skin{
    padding: 20px;
}
img,video{
    width: 400px;
    border-radius: 15px;
}
img,video:hover{
   border: 4px solid white ;
}

#cancion img {
    cursor: pointer;
}

.skin:hover .skin-image {
    display: none;
}

.skin:hover .skin-video {
    display: block;
}

.skin-video {
    display: none;
    width: 100%;
    height: auto;
}
